<div class="border border-3 border-danger m-3">

    <form (ngSubmit)="une()" >
    <p class="bg-info">Concatena con ngModel</p>

    <label class="form-label">Introduce operando a:</label>
    <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control">

    <label class="form-label">Introduce operando b:</label>
    <input [(ngModel)]="apellido" name="apellido"type="text" class="form-control">

    <button class="btn btn-primary" type="submit">Sumar</button>

    <table>
    <tbody>
        <tr *ngFor="letnombre of nombres; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ nombre }}</td>
            <td><button (click)="borrarFila(i)" class="btn btn-danger">Borrar</button></td>
        </tr>
    </tbody>
</table>
    <p class="alert alert-warning">{{resultado}}</p>

    
</form>
</div>